:root {
    --overlay-color: #15271D;
    --hc-slate-grey: #B8C4C0;
}

.showcase {
        background:linear-gradient(0deg, #15271d5e, #1f473138);
        background-repeat: no-repeat;
}

.category {
    height: 50px;
    width: 100%;
}

#neck {
    grid-area: neck;
    background: rgb(236, 15, 15);
}

#midback {
    grid-area: midback;
    width: 100%;
    background: blue;
}

#lowback {
    grid-area: lowback;
    width: 100%
}

#upper-extrem {
    grid-area: upperExtrem;
}

#lower-extrem {
    grid-area: lowerExtrem;
}

.condition-nav {
    display: grid;
    grid-template-areas: 
                "neck neck"
                "lowback midback"
                "upperExtrem LowerExtrem";
    background-color: var(--hc-slate-grey);
    width: 100vw;
}

