:root {
    --overlay-color: #15271D;
    --hc-slate-grey: #B8C4C0;
}

.showcase {
    background:linear-gradient(0deg, #15271d5e, #1f473138);
    background-repeat: no-repeat;
    grid-template-columns: 1fr 1fr;
    padding: 0;
}

.container {
    grid-column-start: 1;
    grid-column-end: -1;
    margin: 0;
    padding: 0;
}

.condition-nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-template-rows: 100px auto;
    background-color: var(--hc-slate-grey);
    margin: 0;
    padding: 0;
    
}

.category {
    height: #444;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#neck {

}

#midback {

}

#lowback {

}

#upper-extrem {
    
}

#lower-extrem {
    
}



